---
sitemap: false
---

@charset "utf-8";

$base-font-size: 20px;
$min-font-size: $base-font-size;
$max-font-size: $base-font-size;
$serif-font-family: linja-pona;
$sans-serif-font-family: linja-pona;
$monospace-font-family: linja-pona;

@import "so-simple";

@import "https://davidar.github.io/linja-pona/stylesheet.css";

html {
  font-family: linja-pona;
  font-feature-settings: "liga" 1, "clig" 1, "calt" 1, "kern" 1, "mark" 1;
  text-rendering: optimizeLegibility;
  line-height: 1.25;
}

.site-logo-img {
  border: none;
  border-radius: 0;
}

h1, h2, h3, h4, h5, h6, .author {
  text-align: center;
  span.link-arrow { display: none }
}

h1, h2, h3, h4, h5, h6, .site-title, .site-description, .entry-title, .page-title {
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0;
}

a, .copyright a {
  text-decoration: none;
  color: #bd1c2b;
  opacity: 1;
  &:hover { color: #84141e }
}
.site-title a:hover, .page-image-caption a:hover {
  color: inherit;
  opacity: 0.5;
}

.layout--page .page-content {
  font-size: 120%;
  text-align: justify;
  p {
    &.right {
      text-align: right;
      margin: -1.5rem 0 0.5rem;
    }
    span.right {
      text-align: right;
      float: right;
    }
    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }
  hr {
    width: 80%;
    border: 0.75px solid black;
    margin: 1.5rem auto;
  }
}

table.handout {
  font-size: 150%;
  table-layout: fixed;
  tbody {
    border-width: 3px;
    border-style: solid none;
    border-color: $border-color;
    tr:first-child td {
      padding-top: 2em;
    }
    tr:last-child td {
      padding-bottom: 2em;
    }
    tr td:first-child {
      white-space: nowrap;
    }
  }
  em {
    font-style: normal;
    color: #f40;
  }
}

.speech-left, .speech-right {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 75%;
}
.speech-left {
  background-image: url(../../images/speech-left.svg);
  padding: 1em 0.5em 0.5em 0.5em;
}
.speech-right {
  background-image: url(../../images/speech-right.svg);
  padding: 1em 0.2em 0.5em 1em;
}

dl {
  dt {
    font-weight: normal;
    font-size: 200%;
    float: left;
    margin-top: 0 !important;
  }
  dt, dt + dd {
    padding-top: 0.5rem;
  }
  dd {
    margin-left: 3rem;
    margin-bottom: 0.5rem;
    em {
      margin-right: 1em;
      font-style: normal;
      font-weight: bold;
    }
  }
  >br {
    display: block;
    clear: both;
  }
}

.forvo {
  width: 20px;
  height: 20px;
  overflow: hidden;
  font-size: 0;
  margin: -20px auto 0;
  filter: grayscale(100%) contrast(125%);
  transition: all 0.4s ease;
  opacity: 0.5;
  &:hover { opacity: 1 }
  a + a { display: none }
}
